numpy>=1.21.0,<2.0.0
matplotlib>=3.5.0,<4.0.0
setuptools>=58.0.0
streamlit>=1.39.0
earthengine-api>=0.1.384
geemap>=0.34.5
pandas>=2.2.3
altair>=5.4.1
folium>=0.17.0
google-auth>=2.26.2
google-auth-httplib2>=0.2.0
google-api-python-client>=2.113.0